
body {
    font-family:'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(244, 246, 251);
    color: rgb(51, 51, 51);
}

nav {
    background-color: rgb(0, 51, 153);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
   
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    transition: 0.3s;
}
nav a:hover {
    background-color: #0056ff;
    border-radius: 5px;
}


header {
    text-align: center;
    padding: 40px 20px;
}

header img {
    width: 120px;
    border-radius: 70%;
}

header h1 {
    color: rgb(0, 51, 153);
}


.content{
    background-color: #ffffff;
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.content h1 {
    text-align: center;
    color: rgb(0, 51, 153);
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #003399;
    color: white;
}
input, textarea {
    width: 80%;
    padding: 8px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 4px;
}


button {
    background-color: rgb(0, 51, 153);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(0, 86, 255);
}
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(0, 51, 153);
    border-radius: 50px;
}

#backToTop:hover {
    background-color: rgb(0, 86, 255);
}